@import "mixin";
.fr-button {
  @include input;
  color: var(--button-text-color);
  background: var(--button-color);
  border: 1px solid var(--button-border-color);
  overflow: hidden;
  transition: 0.2s;
  white-space: nowrap;
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;

    &:not(.outline):not(.disabled) {
      filter: brightness(85%);
    }

    &.outline:not(.disabled) {
      background: var(--button-text-color);
      color: white;
    }
  }

  &:active:not(.disabled) {
    filter: brightness(60%) !important;
  }
}
