.el-pagination__jump {
  margin-right: 30px;
}

.fr-table {
  min-height: 300px;

  .el-table {
    border-radius: 10px;
  }

  &.ellipsis-row {
    .cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.fr-table-body {
  margin-bottom: 1rem;
}

.el-pagination {
  button {
    background-color: transparent;
  }
}


