$pt-color: #67c23a;
$st-color: #f56c6c;
$ud-color: #f5bc42;
$nc-color: #000;

$hover-color: #4c8cf5;

$tipbar-width: 300px;

$sidebar-bgc: #393942;
$sidebar-open-width: 200px;
$sidebar-hide-width: 65px;

$toolbar-height: 55px;
