.el-table {
  overflow: hidden;
  border-radius: 5px;
}

.el-table__header-wrapper {
  tr {
    th {
      background-color: #dddddd;

      .cell {
        font-weight: normal;
        padding: 0 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

