@import "variables";

table.common-detail-grid {
  margin: auto;

  thead > tr {
    td {
      background-color: grey;
      font-weight: bold;
      margin: 0 1.5rem;
    }
  }

  tbody > tr {
    td {
      &:first-child {
        background-color: #cacaca;
      }
      span{
        display: block;
      }
    }
  }

  tr {
    td {
      text-align: center;
      white-space: nowrap;
      line-height: 2.2rem;
      span{
        padding: 0 1rem;
      }
    }
  }
}


.process-detail {
  .el-card__header {
    padding: 0.8rem 20px;
  }

  .detail-status-header {
    .status-text {
      display: inline-block;
      padding: 0 2rem;
      line-height: 1.5rem;

      &.PT {
        background-color: $pt-color;
      }

      &.ST {
        background-color: $st-color;
      }

      &.UD {
        background-color: $ud-color;
      }

      &.NC {
        background-color: $nc-color;
      }

    }
  }
}


